body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}



/*************************************/
/**  \Tk\Table\Renderer\Dom\Table   **/

.tk-table th {
  white-space: nowrap;
}
.tk-table .key {
  width: 100%;
}
.tk-table td {
  white-space: nowrap;
}


.tk-table .orderAsc a {
  text-decoration: underline;
  color: darkviolet;
}
.tk-table .orderDesc a {
  text-decoration: underline;
  color: darkgreen;
}


.tk-table .tk-actions {
  margin: 5px 0px;
}
.tk-table .btn {
  margin-right: 5px;
}


.tk-table .pagination {
  margin: 0;
}




/*********************************/
/** \Tk\Form\Renderer\Dom\Form  **/

.tk-form .tk-form-events .btn {
  margin-right: 5px;
}

.tk-form.form-inline .tk-form-fields,
.tk-form.form-inline .tk-form-events {
  display: inline-block;
}
.tk-form.form-inline .tk-form-fields .form-group {
  margin-right: 5px;
}


.tk-form .control-label {
  padding-right: 10px;
}
.tk-form.form-horizontal .control-label {
  width: 10%;
  text-align: right;
  float: left;
  display: block;
}
.tk-form.form-horizontal .controls {
  line-height: 2;
  float: left;
  width: 85%;
}
.tk-form.form-horizontal .tk-form-events {
  margin-left: 10%;
  margin-top: 10px;
}



